.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem 0rem 1rem 0;
}

.prompt-container, .response-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem 2rem;
}

.prompt-container {
  margin-bottom: 1rem;
}

.response-container {
  margin-top: 1rem;
}

hr {
  width: 80%;
}

.prompt-name, .response-name {
  flex-basis: 33%;
}

.prompt-text, .response-text {
  flex: 1;
  word-wrap: normal;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}