.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem 0rem 1rem 0;
}

.prompt-container, .response-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    text-align: left;
  }
}

.prompt-container {
  margin-bottom: 1rem;
}

.response-container {
  margin-top: 1rem;
}

.prompt-name, .response-name {
  flex-basis: 33%;
  text-align: center;

  @media screen and (min-width: 600px) {
    & {
      text-align: left;
    }
  }
}

.prompt-text, .response-text {
  flex: 1;
  word-wrap: normal;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 600px) {
    & {
      justify-content: flex-start;
    }
  }
}