@use '../../index.scss' as *;

.form-container {
  width: 80%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 600px) {
    min-height: 75vh;
    align-items: center;
    padding: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 600px) {
    & {
      text-align: left;
    }
  }
}

.label {
  color: $main-text-color;
  font-weight: 700;
  font-size: 1.3rem;
}

.prompt-input {
  resize: none;
  width: 100%;
  font-family: $main-font;
  padding: 0.75rem;
  border-radius: 5px;
  outline: none;
}

.error {
  color: red;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.submit-button {
  width: 7rem;
  height: 2.5rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: 1px solid #fff;
  background-color: $bg-dark;
  color: #fff;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    transform: scale(0.95);
  }
  
  &:disabled {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

