@use '../../index.scss' as *;

.header {
  width: 100%;
  min-height: 2.5rem;
  padding: 0.75rem 2rem;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-family: $header-font;
    font-variant: small-caps;
    font-weight: 700;
    font-style: italic;
    color: $main-text-color;
  }

  @media screen and (min-width: 600px) {
    & {
      text-align: left;
    
      h1 {
        font-size: 4rem;
      }
    }
  }
}